{% extends "layout.twig" %}

{% block content %}

<div class="row container">
    <div class="nine columns push">
        <header>
            {{widget('companyname', 'tyrol', {"business": "TYROL"})|raw}}
            {{widget('clicktocall', 'tyrol-call', {phoneText: '0800 123 123'})|raw}}
        </header>  
        <div class="main clearfix">
            {{zone('main')|raw}}
        </div>  
    </div>
    <div class="three columns pull">
        <footer class="footer">
            {{widget('extendednavigation', 'navigationheader', {})|raw}}
        </footer>
    </div>
</div>

{% endblock %}
