/* 

Table of Contents -

  1. Default
  2. Media Queries
  3. Grid
  4. Header
  5. Menu Navigation
  6. Menu
  7. Blog
  8. Footer
  9. Slideshow
  10. Forms & Buttons
  11. Misc

*/


/* ===============================
   1. Default
   =============================== */

@import "@{templateCommon}/basekit-bootstrap.less";

body {
    background-color: @color-swatch1;
    background-image: image("/images/wine-img.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top right;
    @media @tablet {
        background-size: cover;
    }
    .wrapper { 
        margin: 0; 
        width: 100%;
    }
}


::-moz-selection {
    background-color: fade(@color-swatch3, 65%);
}

::selection {
    background-color: fade(@color-swatch3, 65%);
}

/* ===============================
   2. Media Queries
   =============================== */

@desktop: ~"only screen and (max-width: 1024px)";
@tablet: ~"only screen and (max-width: 840px)";
@mobile: ~"only screen and (max-width: 640px)";

/* ===============================
   3. Grid
   =============================== */

*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.row { 
    margin: 0;
    max-width: none;
    @media @tablet {
        padding: 0;
        width: 100%;
    }
    .row {
        width: auto; 
        min-width: 0; 
        margin: 0 -15px; 
    }
 }

.col, .cols { 
    float: left; 
    min-height: 1px; 
    position: relative; 
    padding-left: 4%;
    padding-right: 4%;
}

[class*="col"] + [class*="col"]:last-child { float: right; }
[class*="col"] + [class*="col"].end { float: left; }

.three, .row .three { 
    width: 25%; 
    padding-right: 0;
    padding-left: 0;
    @media @tablet {
        width: 100%;
    }

}
.nine, .row .nine { 
    background: @color-swatch1;
    height: 100%;
    min-height: 1400px;
    padding-bottom: 40px;
    position: relative;
    width: 75%; 
    @media @tablet {
        min-height: 800px;
        width: 100%;
    }
}
.row { 
    *zoom: 1; 
    &:before {
        content: " "; 
        display: table; 
    }
    &:after {
        content: " "; 
        display: table;
        clear: both;
    }
}

@media @tablet {
    .container {
        display: table;
        width: 100%;
        .push, .pull {
            display: block;
            width: 100%;
        }
        .nine {
            display: table-header-group;
            width: 100%;
        }
        .three {
            display: table-caption;
            height: 200px;
            width: 100%;
        }
        [class*="col"] + [class*="col"]:last-child { float: none; }
        [class*="col"] + [class*="col"].end { float: none; }
    }
}

@media @mobile {
    .container {
        .three {
            height: 135px;
        }
    }
}

/* ===============================
   4. Header
   =============================== */

.bk-header {
    padding: 2.5em 0 1.5em;
    @media @desktop {
        float: left;
        margin-bottom: 0.5em;
        width: 100%;
    }
    @media @tablet {
        border-bottom: none;
        marrgin-bottom: 1em;
    }
    .widget { 
        &.companyname {
            display: inline-block;
            @media @mobile {
                display: block;
                float: left;
                text-align: center;
                width: 100%;
            }
            a {
                font-family: @font-swatch10-font-family;
                font-weight: @font-swatch10-font-weight;
                color: @font-swatch10-color;
                line-height: @font-swatch10-line-height;
                letter-spacing: @font-swatch10-letter-spacing;
                font-size: @font-swatch10-font-size;
                padding: 0;
            }
        }  /* end companyname */
    } /* end widget */
    .widget {
        &.clicktocall {
            display: inline-block;
            float: right;
            padding: 1em 0 1em 4em;
            text-align: center;
            @media @mobile {
                border: 2px solid fade(@color-swatch5, 10%);
                padding: 1em 0 1em 0;
                margin: 2em 0 1em;
                text-align: center;
                width: 100%;
            }
            &:hover {
                @media @mobile {
                    transition: background-color 0.5s ease;
                    background-color: fade(@color-swatch5, 5%);
                }
            }
            a {   
                background: none;
                color: @color-swatch5;
                @media @mobile {
                    background-image:image('/images/ic-desktop-call-mob.png');
                    background-repeat: no-repeat;
                    background-position: center left;
                    color: @color-swatch5;
                    padding-right: 15px;
                    padding-top: 5x;
                    padding-bottom: 5px;
                    &:hover {
                        background-image:image('/images/ic-desktop-call-mob.png');
                        background-repeat: no-repeat;
                        color: @color-swatch5;
                        padding-right: 15px;
                        padding-top: 5x;
                        padding-bottom: 5px;
                    }
                }
            }
        }
    }
}  /* end header */


/* ===============================
   5. Menu Navigation
   =============================== */
nav {
    clear: both;
}
    .widget {
        &.menusections {
            border: 1px solid fade(@color-swatch5, 15%);
            padding: 0 2%;
            margin: 1em 0;
            @media @tablet {
                border: none;
                margin: 2em 0 1em;
            }
            ul {
                margin: 0;
                display: block;
                @media @tablet {
                    width: 100%;
                    border-top: 2px solid fade(@color-swatch5, 20%);
                    border-bottom: 2px solid fade(@color-swatch5, 20%);
                    padding: 0.25em 0;
                    margin: 1.5em auto;
                }
                li {
                    margin: 0 0.5em;
                    &:first-child {
                        margin-left: 0;
                        @media @mobile {
                            margin: 0;
                        }
                        a {
                            @media @desktop {
                                padding-left: 0;
                            }
                        }
                    }
                    a {
                        font-family:@font-swatch6-font-family;
                        font-size:@font-swatch6-font-size;
                        font-weight: @font-swatch6-font-weight;
                        color: @font-swatch6-color;
                        line-height:@font-swatch6-line-height;
                        letter-spacing: @font-swatch6-letter-spacing;
                        &:hover {
                            color: @color-swatch5;
                            text-decoration: none;
                        }
                        &:after {
                            content: "\00b0";
                            color: fade(@color-swatch5, 25%);
                            padding-left: 1.5em;
                            position: relative;
                            top: 4px;
                            @media @tablet {
                                display: none;
                            }
                        }
                    }
                    @media @tablet {
                        border-bottom: 1px solid fade(@color-swatch5, 20%);
                        margin: 0;
                        width: 100%;
                        padding: 1em 0;
                    }
                    &:last-child {
                        border-bottom: 0;
                        a:after {
                            display: none;
                        }
                    }
                }
            }
        }  /* end menu sections */
    }

.widget {
    &.extendednavigation {
        @media @desktop {
            display: block;
            float: left;
            width: 100%;
        }
        @media @tablet {
            margin: 1.5em 0;
        }
    }
    .extendednavigation {
        position: relative;
        max-width: 100%;
        margin: 0;
        min-height: 60px;
        z-index: 99999;
        float: left;
        @media @tablet {
            background-color: none;
            border: none;
            float: none;
        }
        li {
            ul {
                display: none;
            }
        }
        ul {
            display: table;
            margin: 0;
            text-align: left;
            padding: 0;
            width: 100%;
            @media @tablet {
                /* Hidden until nav icon is clicked */
                display: none;
                /* Then these styles are applied */
                width: 100%;
                background-color: @color-swatch1;
                border: 1px solid fade(@color-swatch5, 25%);
                margin: 0;
                padding: 60px 0 0;
            }
            li {
                border-bottom: 1px solid rgba(255,255,255, 0.15);
                float: left;
                display: block;
                padding: 15px 0;
                width: 100%;
                @media @tablet {
                    background-color: @color-swatch1;
                    width: 100%;
                    padding: 1em 0;
                    border: 1px solid fade(@color-swatch5, 25%);
                    border-bottom: 1px dotted fade(@color-swatch5, 25%);
                }
                &:last-child {
                    @media @tablet {
                        border-bottom: 1px solid fade(@color-swatch5, 25%);
                    }
                }

                &:hover {
                    ul {
                        display: block;
                        position: absolute;
                        background-color: fade(@color-swatch5, 65%);
                        border: 1px solid fade(@color-swatch5, 25%);
                        color: @color-swatch5;
                        z-index: 9999;
                        padding: 0;
                        margin: 10px 0 0 0;
                        width: 100%;
                        @media @tablet {
                            color: @color-swatch5;
                        }
                        li {
                            display: block;
                            width: 100%;
                            color: black;
                            .box-sizing {
                                a {
                                    display: block;
                                    color: @color-swatch5;
                                    padding: 0;
                                }
                            }
                        }
                    }
                }

                a {
                    display: block;
                    padding: 0 15px;
                    font-family: @font-swatch6-font-family;
                    font-size: @font-swatch6-font-size;
                    font-weight: @font-swatch6-font-weight;
                    color: @color-swatch1;
                    line-height: @font-swatch6-line-height;
                    letter-spacing: @font-swatch6-letter-spacing;
                    &:hover {
                        color: @color-swatch1;
                        @media @tablet {
                            color: @color-swatch5;
                        }
                    }
                    .text {
                        &:hover {
                            color: @color-swatch1;
                            text-decoration: none;
                            @media @tablet {
                                color: @color-swatch5;
                            }
                        }
                    }
                    @media @tablet {
                        color: @color-swatch5;
                    }
                }

                &.folder {
                    /* Folder dropdown arrow BG style goes Here */  
                    margin-right: 10px;            
                    cursor: pointer;
                    background-image: none;
                    &:after {
                        border: 5px solid transparent;
                        border-top-color: @color-swatch1;
                        top: 50%;
                    }
                    .text {
                        display: block;
                        padding: 0 15px;
                        font-family: @font-swatch6-font-family;
                        font-size: @font-swatch6-font-size;
                        font-weight: @font-swatch6-font-weight;
                        color: @color-swatch1;
                        line-height: @font-swatch6-line-height;
                        letter-spacing: @font-swatch6-letter-spacing;
                        position: relative;
                        @media @tablet {
                            color: @color-swatch5;
                        }
                        &:hover {
                            color: @color-swatch1;
                            text-decoration: none;
                            @media @tablet {
                                color: @color-swatch5;
                            }
                        }
                    }
                    ul {
                        padding: 0;
                        @media @tablet {
                            background-color: darken(@color-swatch1, 10%);
                            margin-top: 15px;
                            left: 0;
                        }
                        li {
                            background-color: fade(@color-swatch5, 80%);
                            border-right: none;
                            border-left: none;
                            &:last-child {
                                border-bottom: 0;
                            }
                            a {
                                .text {
                                    color: @color-swatch1;
                                    padding: 0;
                                    &:after {
                                        content: "";
                                    }
                                    &:hover {
                                        color: @color-swatch1;
                                        @media @tablet {
                                            color: @color-swatch1;
                                        }
                                    }
                                    @media @tablet {
                                        padding-left: 1em;
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }

        a {
           &.pull {
               display: none;
               min-height: 60px;
               @media @tablet {
                   background-color: @color-swatch5;
                   display: block;
                   margin: 0 auto;
                   position: absolute;
                   width: 100%;
                   top: 0;
                   &:hover {
                       cursor: pointer;
                       display: block;
                   }
                   &:after {
                        right: 20px;
                        top: 22px;
                   }
               }
           }
       }
    }
}

/* ===============================
   6. Menu
   =============================== */

div[role="main"] {
    position: relative;
    height: 100%;
}
    .widget {
        &.menu {
            .main {
                padding: 1em 0;
                display: none;
                &.selected {
                    display: block;
                }
                ol {  /* Menu sections */
                    float: left;
                    margin: 0;
                    width: 100%;
                }
                .menu-header, .menu-subsection-header {  /* Menu section headers */
                    margin: 1em 0 2em;
                    h1 {  /* Menu section header */
                        font-family: @font-swatch1-font-family;
                        font-size:@font-swatch1-font-size;
                        font-weight: @font-swatch1-font-weight;
                        color: @font-swatch1-color;
                        line-height:@font-swatch1-line-height;
                        letter-spacing: @font-swatch1-letter-spacing;
                    }
                    h2 {  /* Menu subsection header */
                    }
                    p {  /* Menu header description */  
                    }  
                }
                .menu-items {  /* Menu items container */ 
                    display: block;
                    width: 100%;
                    @media @desktop {
                        column-count: 2;
                        column-gap: 60px;
                        -moz-column-count: 2;
                        -moz-column-gap: 60px; 
                        -webkit-column-count: 2;
                        -webkit-column-gap: 60px;
                    }
                    @media @mobile {
                        column-count: 1;
                        column-gap: 30px;
                        -moz-column-count: 1;
                        -moz-column-gap: 30px; 
                        -webkit-column-count: 1;
                        -webkit-column-gap: 30px;
                    }
                    li {  /* Menu items */
                        padding: 1em 0;
                        &.menu-item-promoted { /* Promoted menu item */
                            .inner-item { /* Item content container */
                                h3 {
                                }
                            }
                        }  /* end menu-item-promoted */
                        &.menu-subsection-promoted {  /* Promoted subsection item container */
                            .inner-item {  /* Promoted subsection item */
                                h2 {
                                }
                            }
                        }  /* end menu-subsection-promoted */
                        .inner-item {  /* Item content container */
                            display: block;
                            h3 {  /* Item header */  
                            }
                            .menu-item-image-wrap {
                                background-size: cover;
                                background-repeat: no-repeat;
                                height: 180px;
                                margin: 0.25em 0 0.75em;
                                background-position: center;
                                img {
                                    display: none;
                                }
                            }
                            .menu-item-price {  /* Item price */
                                p {
                                    color: @color-swatch3;
                                    font-size: @font-swatch4-font-size;
                                    font-weight: @font-swatch5-font-weight;
                                }
                            }
                            p {  /* Item description */
                                padding-bottom: 15px;
                            }
                            h4 {  /* Nutritional heading */
                            }
                            .menu-item-nutritional-prop, .menu-item-nutritional-title {  /* Nutritional description */
                                font-size: bkscale(@font-swatch5-font-size, 0.9);
                                font-style: italic;
                            }
                            .menu-item-nutritional-title {
                                padding-bottom: 0;
                            }
                            .menu-section-item-dietary-props {  /* Nutritional icons */
                                .dietary-icon {  /* Default icon */
                                    background-color: fade(@color-swatch5, 40%);
                                    border-radius: 0;
                                    color: @color-swatch1;
                                    margin: 1em 0.25em 1em 0;
                                    padding: 2px 6px 1px;
                                    width: auto;
                                    font-size: bkscale(@font-swatch5-font-size, 0.85);
                                }
                                .not-spicy-icon.dietary-icon {
                                    display: none;
                                }
                                .medium-spicy-icon.dietary-icon {
                                    background-color: darken(orange, 5%);
                                }
                                .hot-icon.dietary-icon {
                                    background-color: darken(#860b14, 5%);
                                }
                                .spicy-icon.dietary-icon {
                                    background-color: darken(green, 5%);
                                }           
                            }  /* end nutritional icons */
                        }  /* end item content container */
                    .clearfix;
                    }  /* end menu items */
                }  /* end menu items container */  
                .menu-subsection {
                    border: 1px solid fade(@color-swatch5, 25%);
                    padding: 5%;
                    margin: 3em 0;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    li {
                        list-style: none;
                    }
                    .menu-subsection-description {
                    }                
                }
                .menu-info {
                    p {  /* Menu note */
                    }
                    dl {  /* Nutritional key */
                        dt, dd {
                        }
                        dt {  /* Nutritional icon */
                        }
                        dd {    /* Nutritional text */
                        }   
                    }/* end dl */
                }  /* end menu-info */
            }/* end main */
        }  /* end menu */
    }  /* end widget */

/* ===============================
   7. Blog
   =============================== */

.widget {
    &.bloglistposts {
        .blog-post-item {
            border-bottom: 1px dotted fade(@color-swatch5, 50%);
        }

    }
}
.blog-post-item {
    margin: 1.5em 0;
    padding-bottom: 1em;
    h2 {
        margin: 0.5em 0 0.25em;
        a {
            font-family: @font-swatch2-font-family;
            font-size: @font-swatch2-font-size;
            font-weight: @font-swatch2-font-weight;
            line-height: @font-swatch2-line-height;
            color: @font-swatch2-color;
            letter-spacing: @font-swatch2-letter-spacing;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.blog-post-metadata {
    background-color: transparent;
    background-image: none;
    margin-top: 0;
    text-align: left;
    time {
        display: block;
        margin: 0.75em 0;
    }
    li {
        display: inline;
    }
}

.blog-list-footer {
    background-color: transparent;
    background-image: none;
}

.blog-post-more-link {
    float: left;
    width: 100%;
}

.blogsearch {
    form {
        button {
            padding: 10px;
            color: @font-swatch7-color;
            font-size: @font-swatch6-font-size;
            font-weight: @font-swatch6-font-weight;
            line-height: @font-swatch6-line-height;
            background-color: @font-swatch7-background-color;
            border: none;
        }
    }
    label {
        display: block;
    }
    input {
        display: inline-block;
        height: 42px;
        width: 80%;
        @media @mobile {
            width: 65%;
        }
    }
    .blog-search-submit-button {
        display: inline-block;
        margin-left: 2%;
        width: 15%;
        @media @mobile {
            width: 30%;
        }
    }
} 
.blog-post-feature-image-wrap {  /* Blog post feature image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 250px;
    width: 100%;
    img {
        display: none;
    }
}

/* ===============================
   8. Footer
   =============================== */

.bk-footer {
    background: fade(@color-swatch5, 25%);
    padding: 3em 2.5%;
    position: fixed;    
    height: 100%;
    width: 25%;
    overflow-x: scroll;
    @media @tablet {
        padding: 3em 4%;
        position: relative;
        width: 100%;
    }
    @media @mobile {
        padding: 1em 4%;
    }
    h1 {
        border-bottom: 1px solid @color-swatch3;
        padding-bottom: 6px;
        margin-bottom: 1.25em;
    }
    .cols {
        padding-left: 0;
        padding-right: 0;
    }
    .nine {
        text-align: right;
        @media @mobile {
            text-align: center;
        }
    }
    .companyaddress {
        p {
            padding-bottom: 4px;
        }
    }
}

/* ===============================
   9. Slideshow
   =============================== */

.widget.responsiveslideshow {
    .slideshow-image-list,
    .slideshow-widget {
        min-height: 450px;
        @media @tablet {
            min-height: 350px;
        }
        @media @mobile {
            min-height: 280px;
            height: 280px;
        }
    }
    .title {
        display: block;
    }
    .content-wrapper {
        background: rgba(0,0,0,0.5);
    }
    .slideshow-widget {
        /* Arrows */
        .btn-prev,
        .btn-next {
            font-size: 0;
            z-index: 11;
            text-indent: -99999px;
            width: 40px;
            height: 40px;
            background: rgba(0,0,0,0.5);
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }
        .btn-prev {
            &:after {
                content: "\2190";
                color: #fff;
                top: 7px;
            }
        }
        .btn-next {
            &:after {
                content: "\2192";
                color: #fff;
                top: 7px;
            }
        }
        /* Play Button */
        .btn-play {
            background: rgba(0,0,0,0.5);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            margin: 0 auto;
            height: 60px;
            width: 80px;
            @media @mobile {
                left: 38%;
            }
            &:after {
                color: #fff;
                letter-spacing: -4px;
                top: 2px;
            }
        }
    }
    /* Slideshow Controls */
    .slideshow-widget-controls {
        .dot {
            width: 11px;
            height: 11px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            &.selected {
                background-color: @color-swatch1;
            }
        }
    }
}

/* ===============================
   10. Forms & Buttons
   =============================== */

input, textarea {
    background: white;
    border: 1px solid fade(@color-swatch5, 25%) !important;
    color: black;
}

fieldset {
    padding: 1.5em 0;
}

.signupform fieldset button, fieldset button {
    height: 45px;
}

.widget.profile form fieldset input {
    background: white;
}

.widget.profile form button {
    padding-top: 8px;
}

/* ===============================
  11. Misc
   =============================== */

blockquote {
    background-color: transparent;
    margin: 20px;
    &:before {
        color: @color-swatch3;
    }
}

hr.line {
    background-color: fade(@color-swatch6, 40%);
    height: 1px;
}

.youtube, .map {
    margin: 1.5em 0;
}

.blogsearch .blog-search-submit-button {
    -webkit-font-smoothing: antialiased;
}

.widget {
    .clicktocall {
        &:hover {
            background-color: none;
        }
    }
}
